<div class="navbar-wagon">
<!-- Logo -->
  <a href="/articles" class="navbar-wagon-brand">Restaurants</a>
<!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a new restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
