<div class="navbar-wagon">
<!-- Logo -->
  <a href="/restaurants" class="navbar-wagon-brand">Restaurants</a>
<!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
