<h1>Reviews for <%= @restaurant.name %></h1>
<hr>

<% @reviews.each do |review| %>
  <div class="card">
    <div class="card-header">
      Review #<%= review.id %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= review.content%></p>
        <footer class="blockquote-footer"> <%= link_to "", review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review ?" }, :class => "far fa-trash-alt"%></footer>
      </blockquote>
    </div>
  </div>
<% end %>
